.collapse {
    width: 100%;
}

.quick-translate {
    display: flex;
    flex-direction: row;
}

.space-between {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.arrow {
    font-size: large;
}

.alert-error {
    background-color: rgba(228, 80, 80, 0.7);
    border: 1px solid rgb(228, 80, 80);
    color: rgb(157, 57, 57);
}

.alert-debug {
    background-color: rgba(80, 80, 80, 0.7);
    border: 1px solid rgb(80, 80, 80);
    color: rgb(80, 80, 80);
}