<p>Selected Article</p>
<ul>
  <li>post will be desplayed here in a Nx2 table</li>
  <li>
    each sentence in a separate row, 2 columns for original text and english
    translation
  </li>
</ul>

<div class="hidden" id="article-selected-container">
  <div class="table-meta li-between">
    <h3 id="article-selected-title"></h3>
    <span class="capsule">
      <a href="" class="capsule-a" id="article-selected-source"></a>
    </span>
  </div>
  
  <div class="table-body" id="article-selected-body"></div>
</div>
