<p>Selected Article</p>
<ul>
  <li>post will be desplayed here in a Nx2 table</li>
  <li>
    each sentence in a separate row, 2 columns for original text and english
    translation
  </li>
</ul>

<div class="hidden">
  <div class="article-selected-meta li-between">
    <h3 id="article-selected-title"></h3>
    <span class="capsule" id="article-selected-source"></span>
  </div>
  
  <table class="container article-selected-table">
    <!--This will be addded dynamically when an article is selected -->
  </table>
</div>
