/* .form-field ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
} */

form .row {
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
}

.text-field, form textarea, textarea.form-control, input[type="text"], input[type="password"],
.text-field:focus, form textarea:focus, textarea.form-control:focus, input[type="text"]:focus, input[type="password"]:focus {
    width: 100%;
    background-color: var(--color-inpt);
    color: var(--color-inpt-txt);
    border: 1px solid var(--color-inpt);
}

#add-partial-tag-name {
    border: 1px solid var(--color-input);
}

input[type="checkbox"] {
    align-self: center;
    margin-right: 5px;
}   

label {
    display: flex;
    flex-direction: row;
}