/* DARK THEME */
:root {
    --color-txt: rgb(228, 228, 238);
    --color-txt-muted: rgb(185, 185, 197);

    /* --color-inpt: rgb(88, 90, 98); */
    --color-inpt: rgb(80, 81, 89);
    --color-inpt-highlight: rgb(92 92 101);
    --color-inpt-txt: rgb(228, 228, 238);

    --color-row: rgb(58, 58, 62);
    --color-row-highlight: rgb(82 82 92);

    --color-plain: rgb(33, 37, 41);
    --color-card: rgb(172, 169, 180);
    /* --color-box-edge: rgb(73, 73, 80); */
    --color-box-edge: rgb(88, 90, 98);
    --color-capsule: rgb(108, 117, 125);

    --bg-pattern: url('../../public/imgs/angelfish5.png');
    --bg-gradient-tr: linear-gradient(rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 1));
    --bg-gradient-bw: linear-gradient(rgb(4, 0, 12), rgb(178, 164, 190));
    --bg-gradient-tr-inv: linear-gradient(rgba(33, 37, 41, 1), rgba(33, 37, 41, 0.7));
    --bg-gradient-bw-inv: linear-gradient(rgb(178, 164, 190), rgb(4, 0, 12));

    --bg: var(--bg-gradient-tr-inv), var(--bg-pattern), var(--bg-gradient-bw);
    --bg-mycard: var(--bg-pattern), var(--color-card);
    --bg-mycard: rgba(63, 63, 72, 1);
    --bg-section: rgb(185, 181, 197);

    --border-radius: 3px;
}

/* MAIN */
body {
    height: 100%;
    font-family: sans-serif;
    background: var(--bg);
    background-repeat: repeat;
    background-attachment: fixed;
    color: var(--color-txt);    
}

.abs-centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mycard {
    background: var(--bg-mycard);
    background-repeat: repeat;
    background-attachment: fixed;
    background-blend-mode: lighten;
    border-radius: var(--border-radius);
    color: var(--color-txt);
}

.plain {
    background: var(--color-plain);
    opacity: 0.9;
    height: 100%;
}

.boxed {
    border: 1px solid var(--color-box-edge);
    border-radius: var(--border-radius);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: var(--color-inpt-txt)
}

.unboxed {
    border-radius: var(--border-radius);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: var(--color-inpt-txt)
}

/* TITLES */
h1 {
    display: flex;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: center;
    
}

/* DETAILS */
.capsule, .capsule-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* max-height: fit-content;
    max-width: fit-content; */
    font-size: small;
    color: white;
    background-color: var(--color-capsule);
    border: none;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 5px;
}

.capsule-lg, .capsule-a-lg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    /* max-height: fit-content; */
    /* max-width: fit-content; */
    color: white;
    background-color: var(--color-capsule);
    border: none;
    /* height: 40px; */
    border-radius: 30px;
    padding: 15px;
    margin: 5px;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
}

.capsule-lg:hover, .capsule-a-lg:hover {
    color: white;
    opacity: 1;
}

.bg-orange {
    background-color: rgb(251 159 45);
    color: white;
    box-shadow: 0 0 10px rgb(251 159 45);
}

.bg-orange:hover {
    background-color:rgb(243, 132, 52);
    box-shadow: 0 0 20px rgb(251 159 45);
}

/* LISTS/TABLES */
.list-group, .list-group-item, tbody {
    background-color: var(--color-row);
    color: var(--color-txt);
}

thead {
    color: var(--color-txt);
}

tbody, td, tfoot, th, thead, tr {
    /* border-bottom-width: none; */
    border-style: none;
}

th[scope="col"] {
    background-color: rgba(17,17,27, 0.5);;
}

tr:hover, .list-group-item:hover {
    background-color: var(--color-row-highlight);
}

.li-title {
    font-weight: 200;
    font-size: medium;
    color: var(--color-txt);
}

.hidden .li-text {
    font-weight: 100;
    font-size: small;
    color: var(--color-txt-muted);
}

.li-meta {
    font-size: 100;
    font-weight: 200;
    color: var(--color-txt);
}

.li-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article .li-title .preview {
    height: 25px;
    overflow: hidden;
}

/* EXPANDABLE */
.hidden {
    display: none;
    transition-delay: 500;
}

@media (max-width: 992px) {
    .hidden-under-md {
        display: none;
    }
}

@media (max-width: 1200px) {
    .hidden-under-lg {
        display: none;
    }
}

.alert {
    opacity: 0.7;
}

/* MAKE-A-NOTE */
#note-btn-container {
    position: sticky;
    bottom: 30px;
    opacity: 0.7;
    width: 100;
    height: 50px;
}

#note-btn {
    position: absolute;
    right: 50px;
    box-shadow: 0 0 10px var(--color-capsule);
}
