{% extends 'main.html' %}

{% block content %}
<h1>Search NL News</h1>

<section class="container box-container boxed" id="box-filter">

  {% include './partials/filter.html' %}

</section>

<section class="container box-container boxed" id="news-overview">

  {% include './partials/article-list.html' %}

</section>

<section class="container box-container boxed" id="article-selected">
  {% include './partials/article-selected.html' %}

</section>

<section class="container box-container boxed" id="note">
  <!-- THIS WILL BE MOVED TO NOTES APP -->
  <p>Option to add a two-sided note</p>
  <ul>
    <li>side A = orgin text, side B = translation+notes</li>
    <li>An option to create and add multiple tags</li>
    <li>
      url of an article will be infered automatically and addded to form (should
      be updated each time new post is selected)
    </li>
    <li>only visible for logged in users</li>
  </ul>

  <p>TEMPORARY: redirect to separate page to create a note</p>

  <a class="btn btn-outline-secondary" href="{% url 'note-create' %}">Make a Note</a>

</section>

{% endblock content %}
