/* .form-field ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
} */

form .row {
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
}

form textarea, input[type="text"] {
    width: 100%;
    background-color: var(--color-inpt);
    color: var(--color-inpt-txt);
}

input[type="checkbox"] {
    /* transition: visibility 0.3s linear, opacity 0.3s linear; */
    align-self: center;
    margin-right: 5px;
}   

label {
    display: flex;
    flex-direction: row;
}