{% extends 'main.html' %} 
{% load static %} 

{% block content %}

<main class="container">
  <div class="row abs-centered">
    <div class="col mycard unboxed py-4">
      <h3>Change Profile Picture</h3>

      <form
        method="POST"
        action="{% url 'profile-update' %}"
        }
        enctype="multipart/form-data"
      >
        {% csrf_token %} {% for field in form %}
        <div>
          <label for="form-input#text">{{ field.label }}</label>
          {{ field }}
        </div>
        {% endfor %}

        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</main>

{% endblock content %}
