{% extends 'main.html' %}

{% block content %}
<main class="container">
  <div class="row abs-centered">
    <div class="col plain p-4">

      <h1>Search NL News</h1>
      
      <section class="container boxed section" id="box-filter">
      
        {% include './partials/filter.html' %}
      
      </section>

      <section class="my-5"></section>
      
      <div class="row">
        <div class="col-12 col-lg-4">
          <section class="container section" id="news-overview">
          
            {% include './partials/article-list.html' %}
          
          </section>
        </div>
      
        <div class="col-12 col-lg-8">
          <section class="container section" id="article-selected">
      
            {% include './partials/article-selected.html' %}
          
          </section>
        </div>
      </div>

      <section id="note-btn-container">
      
        <a id="note-btn" class="capsule-a-lg bg-orange" href="{% url 'note-create' %}" target="_blank">Make a Note</a>
      
      </section>

    </div>
  </div>
  
</main>


{% endblock content %}
