<!-- <form action="#" method="POST">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 note-container">
            <input type="text" id="note-side-a" name="note-side-a" placeholder="Add a Note (e.g., phrase in original language)">
        </div>
        <div class="col-12 col-md-6 note-container">
            <input type="text" id="note-side-b" name="note-side-b" placeholder="Add a Note (e.g., translation)">
        </div>
        <div class="hidden">
            <input type="text" id="url" name="url" value=""> 
        </div> 
    </div>
</div>
</form> -->

{% extends 'main.html' %}
{% load static }

{% block content %}

<form class="form" action="{% url 'note-create' %}" method="POST">
    {% csrf_token %}

    {% for field in noteForm %}
    <div class="form-field">
        <label for="form-input#text">
            <b>{{ field.label }}: </b>
        </label>
        {{ field }}
    </div>
    {% endfor %}

    <input type="submit" class="btn btn-outline-secondary" value="Submit"/>
</form>

{% endblock content %}