{% extends 'main.html' %} 
{% load static %} 

{% block content %}

<main class="container">
  <div class="row abs-centered">
    <div class="col mycard unboxed p-4">

      <section class="d-flex space-between my-4">
        <a class="btn btn-outline-secondary" href="{% url 'note-list' %}"
          >Back to List</a
        >
        {% if note %}
        <form action="{% url 'note-delete' note.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
        {% endif %}
      </section>

      <section>
        <form
          class="form my-4"
          {% if note %}
          action="{% url 'note-update' note.id %}"
          {% else %}
          action="{% url 'note-create' %}"
          {% endif %}
          method="POST"
        >
          {% csrf_token %}

          <div class="row">
            <div class="form-field col-12 col-md-6">
              <label for="form-input#text"
                ><b>{{ noteForm.side_a.label }}</b></label
              >
              {{ noteForm.side_a }}
            </div>

            <div class="form-field col-12 col-md-6">
              <label for="form-input#text"
                ><b>{{ noteForm.side_b.label }}</b></label
              >
              {{ noteForm.side_b }}
            </div>
          </div>

          <div class="row">
            <div class="form-field">
              <label for="form-input#text">
                <b>{{ noteForm.tags.label }}: </b>
              </label>
              {{ noteForm.tags }}
            </div>

            <div class="input-group d-flex justify-content-center w-100">
              <input
                type="text"
                class="form-control"
                name="name"
                id="add-partial-tag-name"
                placeholder="Add New Tag"
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                id="add-partial-tag-btn"
              >
                Add
              </button>
            </div>
          </div>

          <div class="row">
            <div class="form-field d-flex justify-content-center">
              <input
                type="submit"
                class="btn btn-secondary w-100 my-3"
                value="Submit"
              />
            </div>
          </div>
        </form>
      </section>

    </div>
  </div>
</main>

<script src="/static/js/build/tag-create.js" type="module"></script>

{% endblock content %}
