{% extends 'main.html' %} 
{% load static %} 

{% block content %}

<div class="container">
  <div class="row">
    <div class="col boxed">
        TBA: clickable tags with the number of notes (radio or checkboxes);
        <ul>
          <li>colorcode the same as on the figures above?</li>
          <li>
            on click: show all (paginated) notes from selected tag in a "table"
          </li>
        </ul>

        <form action="#" method="POST">
            {% csrf_token %}
            <ul class="row">
                {% for tag in request.user.profile.tag_set.all %}
                <li class="col capsule">
                    <label for="{{ tag.name }}">
                        <input type="checkbox" id="id_{{ tag.name }}" name="{{ tag.name }}"/>
                        {{ tag.name }}
                    </label>
                </li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn btn-outline-secondary">Filter</button>
        </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col boxed">
    TBA: table of notes from a selected tag(s?): (created, tags, side a, side b)
    <ul>
      <li>sortable by `created`</li>
      <li>side b can be hidden</li>
    </ul>
  
    <p>{{ request.user.profile.username }}'s notes:</p>
    {% if notes %}
      <ul>
        {% for note in notes %}
        <li>
             {{ note }} 
             ({% for tag in note.tags.all %} {{ tag.name }} {% endfor %}) 
        </li>
        {% endfor %}
      </ul>
    {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
