<!-- <form action="#" method="POST">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 note-container">
            <input type="text" id="note-side-a" name="note-side-a" placeholder="Add a Note (e.g., phrase in original language)">
        </div>
        <div class="col-12 col-md-6 note-container">
            <input type="text" id="note-side-b" name="note-side-b" placeholder="Add a Note (e.g., translation)">
        </div>
        <div class="hidden">
            <input type="text" id="url" name="url" value=""> 
        </div> 
    </div>
</div>
</form> -->

{% extends 'main.html' %}
{% load static }

{% block content %}

<form class="form bg-light" action="{% url 'note-create' %}" method="POST">
    {% csrf_token %}

    <div class="row">
        <div class="form-field col-12 col-md-6">
            <label for="form-input#text"><b>{{ noteForm.side_a.label }}</b></label>
            {{ noteForm.side_a }}
        </div>
    
        <div class="form-field col-12 col-md-6">
            <label for="form-input#text"><b>{{ noteForm.side_b.label }}</b></label>
            {{ noteForm.side_b }}
        </div>
    </div>

    <div class="row">
        <div class="form-field">
            <label for="form-input#text">
                <b>{{ noteForm.tags.label }}: </b>
            </label>
            {{ noteForm.tags }}
        </div>

        <div class="input-group d-flex justify-content-center w-100">
            <input type="text" class="form-control" name="name" id="add-partial-tag-name" placeholder="Add New Tag"/>
            <button type="button" class="btn btn-outline-secondary" id="add-partial-tag-btn">Add</button>
        </div>
    </div>

    <div class="row">
        <div class="form-field d-flex justify-content-center">
            <input type="submit" class="btn btn-secondary w-100 my-3" value="Submit"/> 
        </div>
    </div>
</form>

<script src="/static/js/build/notes.js" type="module"></script>

{% endblock content %}
