{% extends 'main.html' %} 
{% load static %} 

{% block content %}

<div class="container">
  <div class="row">
    <div class="col boxed">
        TBA: clickable tags with the number of notes (radio or checkboxes);
        <ul>
          <li>colorcode the same as on the figures above?</li>
          <li>
            on click: show all (paginated) notes from selected tag in a "table"
          </li>
        </ul>

        <form action="#" method="POST">
            {% csrf_token %}
            <ul class="row">
                {% for tag in request.user.profile.tag_set.all %}
                <li class="col capsule">
                    <label for="{{ tag.name }}">
                        <input type="checkbox" id="id_{{ tag.name }}" name="{{ tag.name }}"/>
                        {{ tag.name }}
                    </label>
                </li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn btn-outline-secondary">Filter</button>
        </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col boxed">
    TBA: table of notes from a selected tag(s?): (created, tags, side a, side b)
    <ul>
      <li>sortable by `created`</li>
      <li>side b can be hidden</li>
    </ul>

    {% if notes %}

    <p>{{ request.user.profile.username }}'s notes:</p>

    <table class="container w-100">
        <tr>
            <th>Date</th>
            <th>Side A</th>
            <th>Side B</th>
            <th>Tags</th>
        </tr>

        {% for note in notes %}
        <tr>
            <td>{{ note.created }}</td>
            <td>{{ note.side_a }}</td>
            <td>{{ note.side_b }}</td>
            <td>
                <div class="row">
                    {% for tag in note.tags.all %}
                    <span class="col capsule">{{ tag }}</span>
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
  
    </div>  
  </div>
</div>

{% endblock content %}
