{% extends 'main.html' %}
{% load static %}

{% block content %}

<main class="container bg-light p-4">
<h3>My Tags:</h3>
{% if tags %}
<div id="id_tags" class="row m-1">
{% for tag in tags %}
    <a class="col capsule-a" href="{% url 'tag-update' tag.id %}">
        <span>{{ tag }}</span> 
        <span>&nbsp;({{ tag.note_set.count }})</span>
    </a>
{% endfor %}
</div>
{% endif %}

<form action="{% url 'tag-create' %}" method="POST" class="input-group d-flex justify-content-center w-100">
    {% csrf_token %}
    <input type="text" class="form-control" name="name" id="id_name" placeholder="Add New Tag"/>
    <button type="submit" class="btn btn-outline-secondary">Add</button>
</form>

</main>

{% endblock content %}