{% extends 'main.html' %}
{% load static %}

{% block content %}

<main class="container bg-light p-4">
<h3>My Tags:</h3>
{% if tags %}
<ul id="id_tags" class="row">
{% for tag in tags %}
    <li class="col capsule">
        <span>{{ tag }}</span> 
        <span>&nbsp;({{ tag.note_set.count }})</span>
    </li>
{% endfor %}
</ul>
{% endif %}

<form action="{% url 'tag-create' %}" method="POST" class="input-group d-flex justify-content-center w-100">
    {% csrf_token %}
    <input type="text" class="form-control" name="name" id="id_name" placeholder="Add New Tag"/>
    <button type="submit" class="btn btn-outline-secondary" >Add</button>
</form>

</main>

{% endblock content %}