{% extends 'main.html' %} {% load static %} {% block content %}

<main class="container">
  <div class="row abs-centered">
  <div class="col mycard boxed p-4">

  <div class="row">
    <div class="col-12 col-md-4 col-lg-3 col-xxl-2 px-0">
      <div class="profile-info boxed">
        
        <div class="profile-picture-container">
          <img class="profile-picture" src="{{ profile.profile_picture.url }}" />
          <div class="text-center">
            <a href="{% url 'profile-update' %}" class="text-muted">
              <small>change picture</small>
            </a>
          </div>
        </div>

        <div class="profile-username text-center mx-3"><b>{{ profile.username }}</b></div>
        
      </div>
    </div>

    <div class="col px-0">
      <div class="profile-tags boxed">
        <h5>My Notes</h5>

        <div class="figure">
          TBA: bar chart with number of notes for each tag
        </div>

        <div class="figure">
          TBA: stacked bar chart with tagged notes' timeline 
          (full timeline, last month)
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>  
</main>

{% endblock content %}
