{% extends 'main.html' %} 
{% load static %} 

{% block content %} 
{% if note %}

<main class="container">
  <div class="row abs-centered">
    <div class="col mycard unboxed p-4">

      <section class="d-flex space-between my-4">
        <a class="btn btn-outline-secondary" href="{% url 'note-list' %}"
          >Back to List</a
        >
        <a
          class="btn btn-outline-secondary"
          href="{% url 'note-update' note.id %}"
          >Edit</a
        >
      </section>

      <section class="row my-4">
        <div class="col-12 col-md-6">
          <p><b>Side A</b></p>
          <div class="boxed text-field p-3">
            <pre>
              <code>
              {{ note.side_a }}
              </code>
            </pre>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <p><b>Side B</b></p>
          <div class="boxed text-field p-3">
            <pre>
              <code>
              {{ note.side_b }}
              </code>
            </pre>
          </div>
        </div>
      </section>

      <section class="row my-4">
        <p><b>Tags: </b></p>
        {% if note.tags %} {% for tag in note.tags.all %}
        <span class="col capsule">{{ tag }}</span>
        {% endfor %} {% endif %}
      </section>
    </div>
  </div>
</main>

{% endif %} 
{% endblock content %}
